<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>


	<div id="tunesApp">
		<!-- <input type="number" v-model="limit">
		<select v-model="entity">
			<option value="song">Songs</option>
			<option value="musicVideo">Videos</option>
		</select> -->
		
				<!-- <form action="#"> -->
	  <center><div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	   <input class="mdl-textfield__input" type="text" id="sample3" v-model="searchTerm">
	    <label class="mdl-textfield__label" for="sample3">search comic name</label>
	  </div>
	</form>
		<button v-on:click="getMusic()" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab"><i class="material-icons">search</i></button></center>
		<h2>{{searchTerm}}</h2>

		<!-- <button v-on:click="songsVisible = !songsVisible">See Songs</button> -->
		<!-- <ul v-if="songsVisible">
			<li v-for="comic in comicsArray">Song Name is: {{ results.description }}</li>
		</ul> -->
		
		<div v-for="comic in comicList">
			<div class="polaroid">
			<img v-if="comic.image.small_url" v-bind:src="comic.image.small_url" style="width:100%">
			<div class="container">
			{{comic.description}}
		</div>
	</div>
		</div>
	</center>

	</div>


  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="scripts/main.js"></script>
</body>
</html>